<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum,
      voluptate!
    </p>
  </header>
</section>

<section class="block block--dark block--skewed-right">
  <h2 class="block__heading">Heading</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptate!
  </p>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum,
      voluptate!
    </p>
    <div style="width: 30%; padding: 4rem">
      <div class="card card--primary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
          magni.
        </div>
      </div>
    </div>
  </div>
</section>
